AccessShowBalloonOnHide=True
SupportAccessGuestRenderControlPanelIDs=73366765568
ShowBalloonOnConnect=True
AnnotationStrokeThickness=12
SupportShowBalloonOnConnect=True
EnableClipboardHelp=False
GuestAlwaysOnTop=False
FullScreenWhenMaximized=False
LastClientVersionNotUpgradedTo=
HelpProviderName=Google
SupportShowUnderControlBanner=True
SupportAccessGuestControlPanelIDs=73081552896
SupportShowSystemTrayIcon=True
AccessLockMachineOnConnect=False
MeetingControlPanelIDs=74440507648
ShowSystemTrayIcon=True
AlwaysOnTop=False
SupportAccessHostFullScreenWhenMaximized=True
AlwaysEndSessionOnExit=False
SupportAccessHostControlPanelIDs=91621495040
BeepOnConnect=False
HostAlwaysOnTop=False
AccessLockMachineOnDisconnect=False
ToolboxDirectory=Toolbox
ShowFeedbackSurveyForm=True
CaptureControlPanelIDs=74423730192
SupportShowBalloonOnHide=True
SupportAccessGuestRenderDockControlPanelIDs=4563402752
SpeakersDeviceID=
CapturesDirectory=Captures
DisabledCommandNames=
ControlPanelIDs=91621495056
ShowSessionEndDialogOnExit=True
AccessHideWallpaperOnConnect=True
SupportHideWallpaperOnConnect=True
HideWallpaperOnConnect=True
MicrophoneDeviceID=
AutoConsentAfterSeconds=0
IsMicrophoneMuted=False
FilesDirectory=Files
AccessShowUnderControlBanner=True
AllowGuestInitiatedFileTransfer=True
AccessShowBalloonOnConnect=True
AccessShowSystemTrayIcon=True
AnnotationTool=0
MeetingDockControlPanelIDs=4563402752
SupportAccessDockControlPanelIDs=0
DisableClipboardCapture=False
SupportLockMachineOnConnect=False
SupportLockMachineOnDisconnect=False
SuspendControlAtStartup=False
SendFilesDirectory=Files
HelpSettings=
SupportAutoConsentIfUserProcessNotRunning=False
MaxRetrySleepMilliseconds=1800000
HostToAddressMap=
KeepAliveTimeSeconds=60
StoredPassword=
StoredUserName=
ApplicationPingTimeSeconds=1800
ClientServiceTimeoutMilliseconds=15000
StoredDomain=
DiscoveredProxyUri=
ExplicitProxyUri=
AutoConsentIfUserProcessNotRunning=False
AccessAutoConsentIfUserProcessNotRunning=False
