ApplicationTitle=SARRemoteControl
ApplicationTitleClientFormat={0} Client
BlankMonitorMessageFormat={0}
ChangeFolderDialogDescription=Please select the new folder:
ChatTitleFormat={0} - Chat
CloseCancelButtonText=Cancel
CloseEndButtonText=End the Session
CloseLeaveOpenButtonText=Leave the Session Open
ClosePrompt=What would you like to do with this session?\r\n\r\nEnding the session disconnects everyone from the session.\r\nLeaving the session open keeps your guest connected.
CloseTitleFormat={0} - Exit Application
CommandAcquireWakeLockFalse=Release
CommandAcquireWakeLockTrue=Acquire
CommandBlankGuestMonitorFalse=Unblank
CommandBlankGuestMonitorTrue=Blank
CommandBlockGuestInputFalse=Unblock
CommandBlockGuestInputTrue=Block
CommandChangeFolder=Change Folder
CommandClearAnnotations=Clear
CommandDisconnectParticipant=Disconnect
CommandEnableClipboardHelpFalse=Disable
CommandEnableClipboardHelpTrue=Enable
CommandExit=Exit
CommandHide=Hide
CommandManageCredentialsPromptForStorage=Prompt For Storage
CommandManageCredentialsSendToScreen=Send To Screen
CommandManageSharedToolbox=Manage
CommandMuteMicrophoneFalse=Unmute
CommandMuteMicrophoneTrue=Mute
CommandNone=(empty)
CommandOpen=Open
CommandOpenFolder=Open Folder
CommandOpenMonitor=Open Monitor(s) in New Window
CommandPauseSharingMyDesktopFalse=Resume
CommandPauseSharingMyDesktopTrue=Pause
CommandRebootToNormalMode=To Normal Mode
CommandRebootToSafeMode=To Safe Mode
CommandReceiveFiles=Receive Files...
CommandReceiveFolder=Receive Folder...
CommandReceiveSoundFalse=Stop Receiving
CommandReceiveSoundTrue=Start Receiving
CommandRegenerateParticipantColor=Regenerate Color
CommandRequestParticipantShare=Request Share Desktop
CommandReshareMyDesktop=Reshare
CommandRunTool=Run Tool
CommandRunToolElevated=Run Tool Elevated
CommandSelectAnnotationModeAllDraw=All Draw
CommandSelectAnnotationModeHostDraw=Host Draw
CommandSelectAnnotationModeInvisible=Invisible
CommandSelectAnnotationModeViewOnly=View Only
CommandSelectAnnotationStrokeThicknessMedium=Medium
CommandSelectAnnotationStrokeThicknessThick=Thick
CommandSelectAnnotationStrokeThicknessThin=Thin
CommandSelectAnnotationToolEllipse=Ellipse
CommandSelectAnnotationToolLine=Line
CommandSelectAnnotationToolPen=Pen
CommandSelectAnnotationToolRectangle=Rectangle
CommandSelectHelperHighlightToolCross=Cross
CommandSelectHelperHighlightToolInstallMessage=The required feature "Windows TIFF IFilter" is not currently enabled in your operating system. What would you like to do?
CommandSelectHelperHighlightToolInstallNo=Don't Enable the Feature
CommandSelectHelperHighlightToolInstallTitle=Windows Feature Required
CommandSelectHelperHighlightToolInstallYes=Enable the Feature
CommandSelectHelperHighlightToolLasso=Lasso
CommandSelectHelperHighlightToolNone=None
CommandSelectMonitor=Select Monitor(s)
CommandSelectQualityHigh=High
CommandSelectQualityLow=Low
CommandSelectQualityMedium=Medium
CommandSelectSoundCaptureModeAllMicrophones=All Mics
CommandSelectSoundCaptureModeHostMicrophone=Host Mic
CommandSelectSoundCaptureModeSilent=Silent
CommandSelectSoundCaptureModeSpeakers=Speakers
CommandSendClipboardKeystrokes=Send Clipboard Keystrokes
CommandSendFiles=Send Files...
CommandSendFolder=Send Folder...
CommandSendMessage=Send
CommandSendSystemKeyCode=Send Ctrl-Alt-Del
CommandShareMyDesktop=Share My Desktop
CommandShareMyDesktopGuest=Start Sharing
CommandShareMyDesktopHost=Start Sharing
CommandShowChat=Chat
CommandShowFeedbackForm=Give Feedback
CommandShowStatus=Status
CommandSpecifyProxyServer=Specify Proxy Server...
CommandStopParticipantShare=Stop Share Desktop
CommandSuspendMyInputFalse=Resume
CommandSuspendMyInputTrue=Suspend
CommandTakeScreenshotToClipboard=To Clipboard
CommandTakeScreenshotToFile=To File
CommandToggleAcquireWakeLock=Acquire Wake Lock
CommandToggleAlwaysOnTop=Always On Top
CommandToggleBeepOnConnect=Beep On Connect
CommandToggleBlankGuestMonitor=Blank Guest Monitor
CommandToggleBlockGuestInput=Block Guest Input
CommandToggleReceiveSound=Receive Sound
CommandToggleSuspendMyInput=Suspend My Input
CommandUnshareMyDesktop=Unshare
CommandUnshareMyDesktopGuest=Deny Share Request
CommandUnshareMyDesktopHost=Cancel
CommandVideoPause=Pause
CommandVideoRecord=Record
CommandVideoStop=Stop
ConsentHostConsentButtonText=Consent to Control
ConsentHostLabelFormat=Your host '{0}' would like remote control of your computer. Your consent is required to proceed.
ConsentHostRefuseButtonText=Refuse Control
ConsentHostTimeoutLabelFormat=Your host '{0}' would like remote control of your computer. Your consent is required to proceed. (Automatically accepting in {1} seconds)
ConsentHostTitleFormat={0} - Remote Control Consent
ConsoleRequiredButtonText=OK
ConsoleRequiredSystemKeyCodeMessage=The console session is required to send the system key code.  Currently you are on a terminal services session.
ConsoleRequiredSystemKeyCodeTitleFormat={0} - Console Session Required
ControlPanelAcquireWakeLockDescription=Prevent sleep, auto-locking, screen savers, and inactivity disconnection while you're idle.
ControlPanelAcquireWakeLockTitle=Acquire Wake Lock
ControlPanelAnnotationTitle=Annotation
ControlPanelBlankGuestMonitorDescription=Black out the remote monitor so they can't see what you're doing.
ControlPanelBlankGuestMonitorTitle=Blank Guest Monitor
ControlPanelBlockGuestInputDescription=Prevent the user at the remote machine from interfering with your work.
ControlPanelBlockGuestInputTitle=Block Guest Input
ControlPanelChangeSharingTitle=Change Sharing
ControlPanelClearAnnotationsDescription=Clear everyone's annotations on the screen.
ControlPanelClearAnnotationsTitle=Clear Annotations
ControlPanelClipboardKeystrokesDescription=Send your clipboard to the remote machine as keystrokes. Useful for login.
ControlPanelClipboardKeystrokesTitle=Send Clipboard Keystrokes
ControlPanelControlSharingTitle=Control Sharing
ControlPanelEnableClipboardHelpDescription=Enable clipboard help for the Helper to process all copied text.
ControlPanelEnableClipboardHelpTitle=Enable Clipboard Help
ControlPanelFileTransferTitle=File Transfer
ControlPanelHelperTitle=Helper
ControlPanelManageCaptureFolderTitle=Manage Capture Folder
ControlPanelManageCredentialsDescription=Store credentials to enter on the logon screen later.
ControlPanelManageCredentialsTitle=Manage Credentials
ControlPanelManagePersonalToolboxTitle=Manage Personal Toolbox
ControlPanelManageReceiveFolderTitle=Manage Receive Folder
ControlPanelManageSharedToolboxDescription=Manage the toolbox located on the central server.
ControlPanelManageSharedToolboxTitle=Manage Shared Toolbox
ControlPanelMessagesTitle=Messages
ControlPanelMiscellaneousTitle=Miscellaneous
ControlPanelMuteMicrophoneDescription=Turn off your microphone to talk without transmitting sound to other participants.
ControlPanelMuteMicrophoneTitle=Mute Microphone
ControlPanelParticipantsTitle=Participants
ControlPanelRebootDescription=Send reboot command to remote machine and reconnect afterwards.
ControlPanelRebootTitle=Reboot and Reconnect
ControlPanelReceiveFilesDescription=Send files to your machine. Cut/Paste or Drag/Drop are easier.
ControlPanelReceiveFilesTitle=Receive Files
ControlPanelReceiveSoundDescription=Receive sound playing through the speakers of the remote machine.
ControlPanelReceiveSoundTitle=Receive Sound
ControlPanelRecordVideoDescription=Capture motion video to an AVI file on your machine.
ControlPanelRecordVideoTitle=Record Video
ControlPanelScreenCaptureTitle=Screen Capture
ControlPanelSelectAnnotationModeDescription=Choose the annotation mode for the session.
ControlPanelSelectAnnotationModeTitle=Select Mode
ControlPanelSelectAnnotationStrokeThicknessDescription=Choose the annotation stroke thickness used for you to draw on the screen.
ControlPanelSelectAnnotationStrokeThicknessTitle=Select Stroke Thickness
ControlPanelSelectAnnotationToolDescription=Choose the annotation tool used for you to draw on the screen.
ControlPanelSelectAnnotationToolTitle=Select Tool
ControlPanelSelectHelperHighlightToolDescription=Choose the tool used to select a region of the screen for optical character recognition (OCR).
ControlPanelSelectHelperHighlightToolTitle=Select Tool
ControlPanelSelectHelpProviderDescription=Choose the help provider to retrieve search results or other information.
ControlPanelSelectHelpProviderTitle=Select Provider
ControlPanelSelectLogonSessionDescription=Choose which logon session to control on the remote machine.
ControlPanelSelectLogonSessionTitle=Select Logon Session
ControlPanelSelectMicrophoneDescription=Choose the microphone to use for voice.
ControlPanelSelectMicrophoneTitle=Select Microphone
ControlPanelSelectMonitorsDescription=Choose one or more remote monitors to view.
ControlPanelSelectMonitorsTitle=Select Monitors
ControlPanelSelectQualityDescription=Choose a lower quality if network conditions create a slow connection.
ControlPanelSelectQualityTitle=Select Quality
ControlPanelSelectSoundCaptureModeDescription=Choose the sound capture mode for the session.
ControlPanelSelectSoundCaptureModeTitle=Select Mode
ControlPanelSelectSpeakersDescription=Choose the speakers to use for participant voices and remote speakers.
ControlPanelSelectSpeakersTitle=Select Speakers
ControlPanelSendFilesDescription=Send files to the remote machine. Cut/Paste or Drag/Drop are easier.
ControlPanelSendFilesTitle=Send Files
ControlPanelSetSpeakersVolumeDescription=Set the level of sound for participant voices and remote speakers.
ControlPanelSetSpeakersVolumeTitle=Set Speakers Volume
ControlPanelShareMyDesktopDescription=Reverse the sharing and share all or part of your own desktop.
ControlPanelShareMyDesktopTitle=Share My Desktop
ControlPanelShareTitle=Sharing
ControlPanelSoundTitle=Sound
ControlPanelStatusTitle=Status
ControlPanelSuspendMyInputDescription=Prevent your keyboard and mouse from affecting the remote machine.
ControlPanelSuspendMyInputTitle=Suspend My Input
ControlPanelSystemKeyCodeDescription=Send Ctrl-Alt-Del to the remote machine. Ctrl-Alt-Home is a shortcut.
ControlPanelSystemKeyCodeTitle=Send Ctrl-Alt-Del
ControlPanelTakeScreenshotDescription=Grab a still image of the remote machine desktop.
ControlPanelTakeScreenshotTitle=Take Screenshot
ControlPanelToolboxTitle=Toolbox
ControlPanelViewMicrophoneLevelDescription=View the level currently captured from the microphone. Adjust the microphone volume in your operating system.
ControlPanelViewMicrophoneLevelTitle=Microphone Level
ControlPanelViewTitle=View
ControlPanelWindowTitle=Window
ControlPanelZoomDescription=Zoom in or out to one of several preset levels.
ControlPanelZoomTitle=Zoom
CredentialsCancelButtonText=Cancel
CredentialsFailureText=Invalid user name and/or password
CredentialsOKButtonText=OK
CredentialsPasswordLabelText=Password:
CredentialsRunServiceAuthenticatingMessage=Authenticating...
CredentialsRunServiceInstructionText=Service mode required for this operation. Please enter administrative credentials to elevate into service mode.
CredentialsRunServiceTitleFormat={0} - Run Service
CredentialsRunServiceWarningText=WARNING: If Windows UAC is enabled, you will temporarily lose control while Guest  is prompted (Yes/No) for elevation.
CredentialsStoreInstructionText=Enter credentials to be encrypted and stored. Your host can send these credentials to the screen at any time.\r\n\r\nThe user name is sent to normal text boxes. The password is sent to special password text boxes, so the password is kept secret.
CredentialsStoreStoringMessage=Storing...
CredentialsStoreTitleFormat={0} - Store Credentials
CredentialsSuccessText=Success
CredentialsTestButtonText=Test
CredentialsUserNameLabelText=User Name:
EndPointStatusConnectedTitle=Connected
EndPointStatusConnectingTitle=Connecting...
EndPointStatusNegotiatingTitle=Negotiating...
EndPointStatusRefusedConsentDescription=The remote user refused consent. You can chat with the remote user to determine reasoning. You can relaunch this session to prompt the user again.
EndPointStatusRefusedConsentTitle=Consent Refused
EndPointStatusSleepingForFreeLicenseDescription=Your installation has reached the limit of concurrent sessions it is allowed. This will continue to try to reconnect until an available license is available.
EndPointStatusSleepingForFreeLicenseTitle=Waiting for an available license...
EndPointStatusSleepingForFreeSlotDescription=Someone is already connected to the session with your session role. This will wait a few seconds and then try to reconnect.
EndPointStatusSleepingForFreeSlotTitle=Waiting for an available slot...
EndPointStatusSleepingForRetryDescription=An error occurred connecting to your session. This will wait a few seconds before trying again.\r\n\r\nError: {0}
EndPointStatusSleepingForRetryTitle=Waiting to retry...
EndPointStatusStoppedTitle=Stopped
EndPointStatusWaitingForCaptureDescription=You have successfully connected to the session, but screen sharing has not begun.
EndPointStatusWaitingForCaptureTitle=Waiting for your screen sharing...
EndPointStatusWaitingForConsentDescription=This session requires consent before you can take remote control. The remote user is being prompted for consent. You can chat with the user for guidance.
EndPointStatusWaitingForConsentTitle=Waiting for consent...
EndPointStatusWaitingForGuestDescription=You have successfully connected to the session, but your guest has not yet connected. Your session will start when they connect.
EndPointStatusWaitingForGuestTitle=Waiting for your guest...
EndPointStatusWaitingForHostDescription=You have successfully connected to the session, but your host has not yet connected. Your session will start when they connect.
EndPointStatusWaitingForHostTitle=Waiting for your host...
FeedbackCommentsInstructions=You can include your email in the box above if you'd like us to get back to you.
FeedbackCommentsLabelText=Additional Comments (optional):
FeedbackDismissLinkText=Not now
FeedbackEmailPlaceholderText=Contact email
FeedbackHideLinkText=Hide forever
FeedbackHighButtonText=Excellent
FeedbackLowButtonText=Bad
FeedbackMediumButtonText=Good
FeedbackRatingInstructions=Overall, how effective was our product during your session?
FeedbackSubmitButtonText=Submit
FeedbackTitleText=Feedback Survey
GuestAnonymousName=Guest
HiddenAppBalloonTextTitleFormat={0} is running in the background
HiddenAppBalloonTitle=Still going...
InfoPanelShareGuestTitle=Share Desktop Request
InfoPanelShareHostTitle=Share My Desktop
InfoPanelStatusTitleText=Status
MacReinstallUninstallPromptFormat=Please enter your password to allow the {0} client to reinstall or uninstall.
MessagesTypeHereText=Type your message here
MessagesTypingFormat={0} is typing...
OperationNotSupportedMessageFormat=Operation '{0}' not supported.
OptionsButtonText=Options
ProxyServerSpecifyInstructionText=Specify your proxy server and optional credentials. These values will be preferred when connecting to your session. However, other methods such as direct connection and system-specified proxies may be used in connection attempts.
ProxyServerSpecifyRealmLabelText=Proxy Server:
ProxyServerSpecifyStoringMessage=Storing...
ProxyServerSpecifyTitleFormat={0} - Specify Proxy Server
RebootCancelButtonText=Cancel
RebootMessage=This will send a reboot command to the remote machine. The application should reconnect after the remote machine boots.
RebootRebootButtonText=Reboot
RebootTitleFormat={0} - Reboot and Reconnect
RecordFileNameFormat={0}_{1}_{2:yyyy-MM-dd}_{3}.avi
SaveScreenFileNameFormat={0}_{1}_{2:yyyy-MM-dd}_{3}.png
SendFilesDialogTitleFormat={0} - Send Files
SendFolderDialogDescription=Please select the folder to send:
SessionHostsDisconnectedButton1Text=OK
SessionHostsDisconnectedButton1Url=
SessionHostsDisconnectedButton2Text=
SessionHostsDisconnectedButton2Url=
SessionHostsDisconnectedButton3Text=
SessionHostsDisconnectedButton3Url=
SessionHostsDisconnectedLaunchUrl=
SessionHostsDisconnectedMessage=
SessionHostsDisconnectedTitleFormat={0} - Exit Application
SessionInvalidButton1Text=OK
SessionInvalidSessionAccessTokenInvalidMessage=Your session access token has expired or is invalid. Please relaunch this application to refresh the token.
SessionInvalidSessionEndedButton1Text=
SessionInvalidSessionEndedButton1Url=
SessionInvalidSessionEndedButton2Text=
SessionInvalidSessionEndedButton2Url=
SessionInvalidSessionEndedButton3Text=
SessionInvalidSessionEndedButton3Url=
SessionInvalidSessionEndedLaunchUrl=
SessionInvalidSessionEndedMessage=Your host has ended the remote session. This application will now close.
SessionInvalidSessionForceDisconnectedMessage=You have been disconnected from the session.
SessionInvalidTitleFormat={0} - Exit Application
ShareAllMonitorsText=All Monitors
ShareAllowControlEverybodyText=Allow control from everyone
ShareAllowControlNobodyText=Don't allow control from anyone
ShareApplicationLabelText=Application:
ShareControlLabelText=Control
SharedToolboxTitleFormat={0} - Shared Toolbox
ShareMonitorLabelText=Monitor:
ShareMonitorTextFormat=Monitor {0}
ShareShareLabelText=Share
StatusPanelConnectionStatusLabelText=Connection Status
StatusPanelLastErrorMessagesLabelText=Last Error Message
StatusPanelMessagesReceivedLabelText=Messages Received
StatusPanelMessagesSentLabelText=Messages Sent
StatusPanelRelayServerLabelText=Relay Server
StatusPanelSoftwareVersionLabelText=Software Version
StatusPanelTimeConnectedLabelText=Time Connected
StatusTitleFormat={0} - Status
ToolboxEmptyMessage=Your Toolbox is empty. Get started adding tools by using the options below. The Toolbox provides single click access to transfer a file to the remote machine and run it instantly.
ToolboxFormDeleteText=Delete
ToolboxFormNewDirectoryText=New Directory
ToolboxFormRenameText=Rename
ToolboxFormUploadDirectoryText=Upload Directory
ToolboxFormUploadFilesText=Upload File(s)
ToolboxLoadingMessage=Loading...
TrayLink1Text=
TrayLink1Url=
TrayLink2Text=
TrayLink2Url=
TrayLink3Text=
TrayLink3Url=
TrayLink4Text=
TrayLink4Url=
UnderControlBannerTextFormat=Your computer is being controlled by {0}
UpgradeCancelButtonText=Cancel
UpgradePrompt=A new version of the {0} client is available ({1}). Upgrade now?
UpgradeTitleFormat={0} - Upgrade Available
UpgradeUpgradeButtonText=Upgrade
